body
{
    color: white;
    background-color: #454545;
    font-family: 'Zen Maru Gothic', sans-serif;
}
main
{
    background-color: #303030;
}
header
{
    text-align: center;
    background-color: #242424;
    padding-bottom: 5px;
    color: #FAD6E6;
}
a
{
    color: #86DAFD;
}
h1
{
    background-color: #080808;
    margin-top: 0%;
    font-family: 'Ledger', serif;
}
h3
{
    color: #FEB4F1;
    position:  relative; left: 1%;
   
}
h2
{
    color: #FEB4F1;
    text-align: center;
}
footer
{
    text-align: center;
    background-color: #242424;
}
#hippo_icon
{
    padding-right: 70px;
    padding-top: 15px;
}
h5
{
    background-color: #242424;
    font-size: 17px;
}
h4
{
  color: #E46BFF;
  font-size: 20px; 
}
p
{
    position:  relative; left: 1%;
}
a:hover
{
    color: #FEB4F1;
}

